body{
    margin: 0;
    background: radial-gradient(circle, rgb(255, 252, 252) 0%, rgb(161, 159, 159) 100%);
}
.navbar-brand{
    width: 200px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px; 

}
.nav-item{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px; 

}
.nav-item:hover{
    background-color: rgb(158, 155, 155);
}
.menu{
    margin: 30px auto;
    text-align: center; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.description{
    background: linear-gradient(0deg, rgb(255, 255, 255) 17%, rgb(209, 206, 206) 59%);
    padding: 20px;
   margin: 10px auto;
    text-align: center; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px; 
    width: 80%; 
}